<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  
  
 	<filter>  
     <filter-name>OnlineFilter</filter-name>  
     <filter-class>com.dog.filter.OnlineFilter</filter-class>  
   </filter>  
  <filter-mapping>  
     <filter-name>OnlineFilter</filter-name>  
    <url-pattern>*.jsp</url-pattern>  
  </filter-mapping> 

  
  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddBookToCart</servlet-name>
    <servlet-class>servlet.AddBookToCart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProcessOrder</servlet-name>
    <servlet-class>servlet.ProcessOrder</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MotiyBookToCart</servlet-name>
    <servlet-class>servlet.MotiyBookToCart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteBookFormCart</servlet-name>
    <servlet-class>servlet.DeleteBookFormCart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddMessageServlet</servlet-name>
    <servlet-class>servlet.AddMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUsersServlet</servlet-name>
    <servlet-class>servlet.AddUsersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowUserServlet</servlet-name>
    <servlet-class>servlet.ShowUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteMessagesServlet</servlet-name>
    <servlet-class>servlet.DeleteMessagesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpLoadBookImageServlet</servlet-name>
    <servlet-class>servlet.UpLoadBookImageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddBookManage</servlet-name>
    <servlet-class>servlet.AddBookManage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteBookManageServlet</servlet-name>
    <servlet-class>servlet.DeleteBookManageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyBookManageServlet</servlet-name>
    <servlet-class>servlet.ModifyBookManageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>servlet.AddUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginExit</servlet-name>
    <servlet-class>servlet.LoginExit</servlet-class>
  </servlet>
 


















  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookToCart</servlet-name>
    <url-pattern>/AddBookToCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessOrder</servlet-name>
    <url-pattern>/ProcessOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MotiyBookToCart</servlet-name>
    <url-pattern>/MotiyBookToCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBookFormCart</servlet-name>
    <url-pattern>/DeleteBookFormCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMessageServlet</servlet-name>
    <url-pattern>/AddMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUsersServlet</servlet-name>
    <url-pattern>/AddUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowUserServlet</servlet-name>
    <url-pattern>/ShowUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMessagesServlet</servlet-name>
    <url-pattern>/DeleteMessagesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpLoadBookImageServlet</servlet-name>
    <url-pattern>/UpLoadBookImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookManage</servlet-name>
    <url-pattern>/AddBookManage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBookManageServlet</servlet-name>
    <url-pattern>/DeleteBookManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyBookManageServlet</servlet-name>
    <url-pattern>/ModifyBookManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginExit</servlet-name>
    <url-pattern>/LoginExit</url-pattern>
  </servlet-mapping>
  

</web-app>